@import "tailwindcss";

button {
    cursor: pointer;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}

.animate-slide {
    animation: slide 1.2s infinite ease-in-out;
}